@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  width: 0.2em;
}

::-webkit-scrollbar-thumb {
  width: 0.2em;

  background-color: #b3b3b3;
  outline: 1px solid rgb(86, 89, 92);
}

/* Always show up/down arrow on input type number */

.showArrowCC::-webkit-inner-spin-button {
  opacity: 1;
}
.hideArrowCC::-webkit-inner-spin-button {
  opacity: 0;
  display: none;
}

.rangeSlideCC {
  -webkit-appearance: none;
}

.rangeSlideCC::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #14b8a6;
  cursor: pointer;
}

.rangeSlideCC::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #06b6d4;
  cursor: pointer;
}
