@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  width: 0.2em;
}

::-webkit-scrollbar-thumb {
  width: 0.2em;

  background-color: #b3b3b3;
  outline: 1px solid rgb(86, 89, 92);
}

/* Always show up/down arrow on input type number */

.showArrowCC::-webkit-inner-spin-button {
  opacity: 1;
}

.rangeSlideCC {
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.15s;
}

.rangeSlideCC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.rangeSlideCC::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
